Mingalarbar!

Welcome to the Online Medical Appointment System...

Congratulations!You have been successfully registered to be fully used our services.
Enjoy your time with us.Thank you for your kindness.
----------------------------------------------------------------------
Dear $name													$today
---------------------------------------------------------------------
Welcome to our OMAS system.....
Your Login Email is $email
Your Password is $password
---------------------------------------------------------------------


Best Regards,
Appointment letter;