Mingalarbar!

We are very pleased to bring you a request from your customers....
----------------------------------------------------------------------
Dear Admin                                      $today
---------------------------------------------------------------------


$msg                                      


---------------------------------------------------------------------

Best Regards,
$name